# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Set the default indentation style to two spaces
[*]
indent_style = tab
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
